* {

    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 255, 255);
}
#main-header { 
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    color: white;
    padding: 2rem 5%;
    text-align: center;
}
#main-header h1 {
    text-shadow: 1px 1px 18px rgb(247, 239, 247);
    
}

.btn {
    font: inherit;
    padding: 0.5rem 1.5rem;
    background-color: rgb(13, 87, 146);
    border: 1px solid rgb(13, 87, 146);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s ease background-color;
}

.btn-alt {
    background-color: transparent;
    border-color: transparent;
    color:rgb(13, 87, 146);
}

.btn:hover {
    background-color: rgb(0,13, 85);
    border-color:rgb(0,13, 85);
}
.btn-alt:hover {
    background-color: rgb(178, 220, 255);
    border-color: transparent;
}

